.flex-center {
  display: flex;
  justify-content: center;
}

table {
  min-width: 400px;
}

table,
tr,
th,
td {
  border: none;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid black;
}

tbody tr:hover {
  background-color: lightgray;
}

td {
  padding: 0.2rem;
  cursor: pointer;
}

button {
  background-color: tomato;
  color: white;
  padding: 0.4rem;
  border: none;
  margin: 1rem auto;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background-color: rgb(230, 89, 64);
}

button:disabled {
  background-color: lightgrey;
  color: grey;
  cursor: default;
}
