<div class="flex-center">
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Duration</th>
        </thead>
        <tbody>
            @for (playlist of playlists; track playlists) {
            <tr (click)="select(playlist)"
                [style.background-color]="selectedPlaylist && selectedPlaylist.id == playlist.id ? 'tomato' : ''">
                <td>{{playlist.id}}</td>
                <td>{{playlist.name}}</td>
                <td>{{playlist.duration}}</td>
            </tr>
            }
        </tbody>
        <button [disabled]="!selectedPlaylist || !selectedSong" (click)="add()">Add to playlist</button>
    </table>
</div>