<div class="flex-center">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @for (song of songs; track song) {
            <tr (click)="select(song)" [style.background-color]="selected && song.id == selected.id ? 'tomato' : ''">
                <td>{{song.id}}</td>
                <td>{{song.title}}</td>
                <td>{{song.artist}}</td>
                <td>{{song.duration}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>