.flex-center {
  display: flex;
  justify-content: center;
}

table {
  min-width: 400px;
}

table,
tr,
th,
td {
  border: none;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid black;
}

tbody tr:hover {
  background-color: lightgray;
}

td {
  padding: 0.2rem;
  cursor: pointer;
}
